<section class="summary--section">
{% include summary.html %}
</section>

<section class="links">
	<article>
		<a href="{{ site.baseurl | page.url }}/images/gina-maini-resume.pdf" title="Click to download my resume" download="gina-maini-resume.pdf">
			Resume
		</a>
	</article>
	<article>
		<a href="https://www.behance.net/drawGinadraw" title="Gina's Behance Portfolio">
			Portfolio
		</a>
	</article>
	<article>
		<a href="https://github.com/wiredsister/FrontEndCodeSample" title="Code Sample">
			Code
		</a>
	</article>
</section>