<section class="summary--section">
{% include summary.html %}
</section>

<section class="links">
	<article>
		<a href="{{ site.baseurl | page.url }}/images/gina-maini-resume.pdf" title="Click to download my resume" download="gina-maini-resume.pdf">
			Resume
		</a>
	</article>
	<article>
		<a href="https://www.hackerrank.com/wiredsis"
		   title="Gina's Hackerrank Code">
			Hackerrank Profile
		</a>
	</article>
	<article>
		<a href="https://github.com/wiredsister/FrontEndCodeSample" title="Code Sample">
			Example Frontend Code
		</a>
	</article>
</section>
