<summary>
<h2>Howdy,<br/>
My name is Gina Maini and I'm a Functional Programmer living in
  Oakland, California.</h2>
<br/>
<h3>
This is a place for me to write, reflect upon, and satirize a host of topics from programming to hair dye. Stick around, stay awhile.
</h3>
<br/>
<p>As of Feb 2016, I'm currently open to interviews for: </p>
<br/>
<ol>
<li>F# or OCaml programming positions</li>
<li>Junior systems engineering positions</li>
<li>I have experience in Front-end Engineering and mentoring and am interested in full-stack web development (See my resume for more details).</li>
<li>Developer Evangelist for an amazing product/team!</li>
</ol>
</summary>
