header {
	h2 {
		margin-top: .5em;
	}

	ul {
		list-style: none;
		padding: 2em 2em 0.5em;

		li {
			display: inline-block;
			margin: 0 0.3em;
		}
	}
}

header, section {
	text-align: center;
	background-color: $light-gray;
	padding: $space;
}

button {
	@extend %button;
}

textarea, input {
	@extend %input;

	resize: none;
}

a {
	text-decoration: none;
	color: $purple;
	transition: color .2s linear;

	&:hover {
		text-decoration: underline;
		color: lighten($purple, 15%);
	}
	&:visited {
		color: darken($purple, 10%);
	}
}


summary {
	font-size: 1.2em;
	background-color: $white;
	padding: $space;
	text-align: left;

	h2::first-letter {
		font-weight: bold;
		font-size: 1.4em;
	}

	@include mobile-only {
		& {
			padding: 0;
		}
	}

}

nav {
	position: fixed;
	top: 0;
	transition: top 0.2s linear;
	left: 0;
	top: -4em;
	height: 0;
	right: 0;
	border-bottom: $border;
	height: 4em;
	padding: 1em;
	background: $white;
	z-index: 999;

	&.-down {
		top: 0;
	}

	em {
		float: left;
		margin: .5em 0;
	}

	img {
		@extend %bordered;
		@extend %round;

		height: 2.5em;
		width: 2.5em;
		float: left;
		margin: 0 1em;
	}

	ul {
		list-style: none;
		float: right;


		@include mobile-only {
			& {
				display: none;
			}
		}
	}

	li {
		display: inline;
		margin: 0 1em;
		vertical-align: sub;
	}
}

.help {
	cursor: help;
	border-bottom: 1px dotted $purple;

	&::before {
	    content: '';
	    opacity: 0;
	    display: none;
	    background: white;
	    color: black;
	    padding: .5em;
	    font-size: 1.1em;
	    @include transition(.7s, linear, ease-in);
	}

	&.show-tip &::before{
	    opacity: 1;
	    display: block;
	}
}

@include mobile-only {
    .help {
	cursor: default;
	border-bottom: none;
    }
}

blockquote {
    max-width: 50%;
    margin: 0 auto;
    font-style: italic;
    background-color: $light-gray;
    padding: .5em 2em;
    color: fade-out($black, .5);
}

@include mobile-only {
    blockquote {
        max-width: 100%;
    }
}
