.header--gina-picture {
	@extend %round;

	height: 50%;
	width: 50%;
	max-width: 15em;
	max-height: 15em;
}

.contact {
	margin: #{ $space * 2 } 0;
}

.contact--contact-form {
	width: 100%;
	height: 100%;
	margin: $space auto;
	position: relative;
}

._top_ {
	display: none;
	float: right;
	margin: 0 .5em;
	cursor: pointer;
	font-size: 1.5em;

	@include mobile-only {
			& {
				display: block;
			}
		}
}

nav em {
	display: none;

	&:not([class="mobile"]) {
		display: block;
	}
	@include mobile-only {
		display:  block;

		&:not([class="mobile"]) {
			display: none;
		}
	}
}

footer {
	padding: 2em;
	text-align: center;
	background: lighten($purple, 50%);
	color: $purple;
	position: relative;
	border-top: $border;
	height: 300px;
	overflow: hidden;
	margin-top: 3em;

	p {
		position: absolute;
		bottom: 2em;
		right: 0;
		left: 0;
		max-width: 50%;
		margin: 0 auto;
	}

	a {
		text-decoration: underline;
	}
}

.trunk {
	height: 112px;
	position: absolute;
	top: -25px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.sloth {
	right: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	height: 150px;
	@include transition(all, 1.7s, linear);
	@include transform(translateY(-200px));

	.-bottom & {
		@include transform(translateY(0));
	}
}

.summary--section {
	background-color: $white;
}

.social-share {
	display: block;
	padding: 1em;
	background: fade-out($purple, .8);
	color: $purple;
	text-align: center;
	margin-top: 3em;
	text-decoration: none;
	transition: background .3s linear;
	text-transform: uppercase;
	font-weight: bold;

	&:hover {
		background: fade-out($purple, .6);
	}

	&:active, &:visited, &:hover {
		color: $purple;
		text-decoration: none;
	}
}

.thumb {
    height: 5em;
    width: 5em;
    float: left;
    margin: 1em;
    border-radius: 50%;
    background-color: $purple;
}