<!DOCTYPE html> 
<html lang="English">

{% include head.html %}

	<body>

	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	{% include footer.html %}

	<!-- le scripts -->
	<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/scripts/underscore.js"></script>
	<!-- TODO: add backbone to about page <script type="text/javascript" src="{{ site.baseurl }}/scripts/backbone.js"></script> --> 
	<script type="text/javascript" src="{{ site.baseurl }}/scripts/about.js"></script>
	</body>
</html>


